@import 'all-page.scss';
@import '_LOGIN';
/**strat form login*/
.container{
    .row{
        justify-content: space-between;
        .card{
            max-width: 17em;
            margin-bottom: 10px;
            .card-body{
                overflow: hidden;
                max-height: 150px;
            }
        }
    }
}


/**end form login*/
